In [25]:
import pandas as pd
import numpy as np

In [114]:
file_path = '../data/futures/'

In [115]:
df = pd.read_csv(file_path + 'NQ.csv')

In [121]:
df.head()

,Date,Time,Open,High,Low,Close,Volume,Datetime
DateTime,,,,,,,,
2009-09-27 18:00:00,9/27/2009,18:00,1697.00,1701.00,1696.00,1699.50,621,2009-09-27 18:00:00
2009-09-27 18:30:00,9/27/2009,18:30,1699.75,1700.00,1699.25,1699.50,26,2009-09-27 18:30:00
2009-09-27 19:00:00,9/27/2009,19:00,1699.50,1699.75,1694.00,1694.00,677,2009-09-27 19:00:00
2009-09-27 19:30:00,9/27/2009,19:30,1694.00,1694.25,1692.00,1692.75,221,2009-09-27 19:30:00
2009-09-27 20:00:00,9/27/2009,20:00,1692.50,1694.75,1689.50,1692.50,767,2009-09-27 20:00:00

In [117]:
df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

In [118]:
df['Datetime'] = pd.to_datetime(df['DateTime'], format='%Y-%m-%d %H:%M:%S')

In [122]:
df = df.set_index('DateTime')

KeyError: "None of ['DateTime'] are in the columns"

In [123]:
df_r = pd.DataFrame()

In [124]:
df_r['Open'] = df['Open'].resample('1h').first()

In [125]:
df_r['Close'] = df['Close'].resample('1h').last()

In [126]:
df_r['High'] = df['High'].resample('1h').max()

In [127]:
df_r['Low'] = df['Low'].resample('1h').min()

In [128]:
df_r['Volume'] = df['Volume'].resample('1h').sum()

In [129]:
df_r['Adj Close'] = df_r['Close']

In [130]:
df_r = df_r.reset_index()

In [131]:
df_r = df_r.rename(columns={'DateTime': 'Date Time'})

In [135]:
df_r.to_csv(file_path + 'NQ_1h.csv', index=False)

In [133]:
df_r.head()

            Date Time     Open    Close     High     Low  Volume  Adj Close
0 2009-09-27 18:00:00  1697.00  1699.50  1701.00  1696.0     647    1699.50
1 2009-09-27 19:00:00  1699.50  1692.75  1699.75  1692.0     898    1692.75
2 2009-09-27 20:00:00  1692.50  1691.50  1694.75  1689.5    1401    1691.50
3 2009-09-27 21:00:00  1691.00  1690.50  1692.50  1688.0     963    1690.50
4 2009-09-27 22:00:00  1690.25  1692.25  1692.25  1690.0     454    1692.25